.hero-container::after,
.hero-container::before {
    content: ' ';
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(255px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}