.hero-container::after,
.hero-container::before {
    content: ' ';
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(255px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: 2rem;
    right: 0rem;
}

.floating-img {
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 0 40px rgba(124, 102, 227, 0.2);
    border: 1px solid rgba(124, 102, 227, 0.1);
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}